[submodule "vim/vim.symlink/bundle/numbers"]
	path = vim/vim.symlink/bundle/numbers
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "vim/vim.symlink/bundle/piv"]
	path = vim/vim.symlink/bundle/piv
	url = git://github.com/vim-scripts/PIV.git
[submodule "vim/vim.symlink/bundle/syntastic"]
	path = vim/vim.symlink/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/vim.symlink/bundle/supertab"]
	path = vim/vim.symlink/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim/vim.symlink/bundle/phpfolding"]
	path = vim/vim.symlink/bundle/phpfolding
	url = git://github.com/vim-scripts/phpfolding.vim.git
[submodule "vim/vim.symlink/bundle/ragtag"]
	path = vim/vim.symlink/bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "vim/vim.symlink/bundle/taglist.vim"]
	path = vim/vim.symlink/bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "vim/vim.symlink/bundle/vim-unimpaired"]
	path = vim/vim.symlink/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/vim.symlink/bundle/ack.vim"]
	path = vim/vim.symlink/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/vim.symlink/bundle/showmarks"]
	path = vim/vim.symlink/bundle/showmarks
	url = git://github.com/vim-scripts/ShowMarks.git
[submodule "vim/vim.symlink/bundle/vim-fugitive"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/gist-vim"]
	path = vim/vim.symlink/bundle/gist-vim
	url = https://github.com/mattn/gist-vim.git
[submodule "vim/vim.symlink/bundle/gitv"]
	path = vim/vim.symlink/bundle/gitv
	url = https://github.com/gregsexton/gitv.git
