# Git configuration
git_user_name: firstname lastname
git_user_email: email
git_user_github: github username
git_user_sign_key: public ssh key

# Install desktop environment
desktop_install: false

# Extra asdf plugins to install
asdf_plugins_extra:
  - ruby
  - neovim
  - rust
