[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -d -w \
            timeout 600 'swaylock -f' \
            timeout 605 'swaymsg "output * dpms off"' \
            resume 'swaymsg "output * dpms on"' \
            lock 'playerctl pause;swaylock -f' \
            before-sleep 'playerctl pause;swaylock -f'
ExecStartPost=/usr/bin/sleep 3

[Install]
WantedBy=sway-session.target
