{
  "height": 30, // Waybar height (to be removed for auto height)
  "spacing": 4, // Gaps between modules (4px)
  "modules-left": [
    "sway/workspaces",
    "sway/mode",
    "sway/scratchpad",
  ],
  "modules-center": [
    "clock"
  ],
  "modules-right": [
    "pulseaudio",
    // "network",
    // "cpu",
    // "memory",
    // "temperature",
    // "backlight",
    // "keyboard-state",
    "sway/language",
    "battery",
    // "custom/unread",
    // "battery#bat2",
    "idle_inhibitor",
    "custom/screenshot",
    "custom/darkman",
    // "mpris",
    "custom/lock",
    "custom/sleep",
    "tray"
  ],
  // Modules configuration
  "sway/workspaces": {
    "disable-scroll": true,
    "all-outputs": false,
    // "format": "{name}: {icon}",
    "format": "{name}",
    "format-icons": {
      "1": "",
      "2": "",
      "3": "",
      "4": "",
      "5": "",
      "urgent": "",
      "focused": "",
      "default": ""
    }
  },
  "keyboard-state": {
    "numlock": true,
    "capslock": true,
    "format": "{name} {icon}",
    "format-icons": {
      "locked": "",
      "unlocked": ""
    }
  },
  "sway/mode": {
    "format": "<span style=\"italic\">{}</span>"
  },
  "sway/scratchpad": {
    "format": "{icon} {count}",
    "show-empty": false,
    "format-icons": [
      "",
      ""
    ],
    "tooltip": true,
    "tooltip-format": "{app}: {title}"
  },
  "mpd": {
    "format": "{stateIcon} {consumeIcon}{randomIcon}{repeatIcon}{singleIcon}{artist} - {album} - {title} ({elapsedTime:%M:%S}/{totalTime:%M:%S}) ⸨{songPosition}|{queueLength}⸩ {volume}% ",
    "format-disconnected": "Disconnected ",
    "format-stopped": "{consumeIcon}{randomIcon}{repeatIcon}{singleIcon}Stopped ",
    "unknown-tag": "N/A",
    "interval": 2,
    "consume-icons": {
      "on": " "
    },
    "random-icons": {
      "off": "<span color=\"#f53c3c\"></span> ",
      "on": " "
    },
    "repeat-icons": {
      "on": " "
    },
    "single-icons": {
      "on": "1 "
    },
    "state-icons": {
      "paused": "",
      "playing": ""
    },
    "tooltip-format": "MPD (connected)",
    "tooltip-format-disconnected": "MPD (disconnected)"
  },
  "idle_inhibitor": {
    "format": "{icon}",
    "format-icons": {
      "activated": " ",
      "deactivated": " "
    }
  },
  "tray": {
    // "icon-size": 21,
    "spacing": 10
  },
  "clock": {
    "timezone": "Europe/Stockholm",
    "format": "{:%H:%M %Y-%m-%d W%W}",
    "format-alt": "{:%A, %B %d, %Y (%R)}  ",
    "tooltip-format": "<tt><small>{calendar}</small></tt>",
    "calendar": {
      "mode": "year",
      "mode-mon-col": 3,
      "weeks-pos": "right",
      "on-scroll": 1,
      "on-click-right": "mode",
      "format": {
        "months": "<span color='#ffead3'><b>{}</b></span>",
        "days": "<span color='#ecc6d9'><b>{}</b></span>",
        "weeks": "<span color='#99ffdd'><b>W{}</b></span>",
        "weekdays": "<span color='#ffcc66'><b>{}</b></span>",
        "today": "<span color='#ff6699'><b><u>{}</u></b></span>"
      }
    }
  },
  "cpu": {
    "format": "{usage}% ",
    "tooltip": false
  },
  "memory": {
    "format": " {}%"
  },
  "temperature": {
    // "thermal-zone": 2,
    // "hwmon-path": "/sys/class/hwmon/hwmon2/temp1_input",
    "critical-threshold": 80,
    // "format-critical": "{temperatureC}°C {icon}",
    "format": "{temperatureC}°C {icon}",
    "format-icons": [
      "",
      "",
      ""
    ]
  },
  "backlight": {
    "device": "intel_backlight",
    "format": "{percent}% {icon}",
    "format-icons": [
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      "",
      ""
    ],
    "on-click": "light -A 10"
  },
  "battery": {
    "states": {
      // "good": 95,
      "warning": 30,
      "critical": 15
    },
    "format": "{capacity}% {icon} ",
    "format-charging": "{capacity}%  ",
    "format-plugged": "{capacity}%  ",
    "format-alt": "{time} {icon} ",
    // "format-good": "", // An empty format will hide the module
    // "format-full": "",
    "format-icons": [
      "",
      "",
      "",
      "",
      ""
    ]
  },
  "network": {
    // "interface": "wlp2*", // (Optional) To force the use of this interface
    "format-wifi": "{essid} ({signalStrength}%) ",
    "format-ethernet": "{ipaddr}/{cidr} ",
    "tooltip-format": "{ifname} via {gwaddr} ",
    "format-linked": "{ifname} (No IP) ",
    "format-disconnected": "Disconnected ⚠",
    "format-alt": "{ifname}: {ipaddr}/{cidr}"
  },
  "pulseaudio": {
    "format": "{icon} {volume}% {format_source}",
    "format-bluetooth": "{icon} {volume}% {format_source}",
    "format-bluetooth-muted": "󰝟 {format_source}",
    "format-source": " {volume}%",
    "format-source-muted": " ",
    "format-muted": "󰝟 {format-source}",
    "format-icons": {
      "headphone": " ",
      "hands-free": " ",
      "headset": " ",
      "phone": " ",
      "portable": " ",
      "car": " ",
      "default": [
        " ",
        " ",
        " "
      ]
    },
    "on-click": "pavucontrol"
  },
  "custom/media": {
    "format": "{icon} {}",
    "return-type": "json",
    "max-length": 40,
    "format-icons": {
      "spotify": "",
      "default": "🎜"
    },
    "escape": true,
    "exec": "$HOME/.config/waybar/mediaplayer.py 2> /dev/null" // Script in resources folder
    // "exec": "$HOME/.config/waybar/mediaplayer.py --player spotify 2> /dev/null" // Filter player based on name
  },
  "custom/screenshot": {
    "format": " ",
    // "on-click": "wayshot -s \"$(slurp -f '%x %y %w %h')\"",
    "on-click": "grim -g \"$(slurp)\" - | wl-copy -t image/png",
    "interval": "once"
  },
  "custom/music": {
    "format": "",
    "on-click": "playerctl play-pause",
    "tooltip": true,
    "interval": "once"
  },
  "custom/darkman": {
    "format": "{icon}",
    "on-click": "darkman toggle",
    "return-type": "json",
    "exec": "sleep 0.2;DM=$(darkman get | tr -d '\n'); echo '{\"alt\": \"'$DM'\", \"text\":\"darkmode\", \"tooltip\":\"'$DM'\"}'",
    "format-icons": {
      "dark": " dark",
      "light": " light"
    },
    "exec-on-event": true,
    "tooltip": true,
    "interval": "once"
  },
  "custom/unread": {
    "format": "{} 󰇮",
    "tooltip": true,
    "exec": "find ~/Mail/INBOX/ -type f | grep -vE ',[^,]*S[^,]*$' | wc -l && echo 'unread email' | tr -d '\n'",
    "on-click": "wezterm start neomutt",
    "interval": 60
  },
  "custom/lock": {
    "format": " lock",
    "exec": "echo '\nlock screen'",
    //"exec-on-event": true,
    "on-click": "sleep 0.117;loginctl lock-session",
    // "on-click": "notify-send dep",
    "tooltip": true,
    "interval": "once",
    "max-length": 40
  },
  "custom/sleep": {
    "format": "󰒲  sleep",
    //"exec-on-event": true,
    "on-click": "sleep 3;systemctl sleep",
    // "on-click": "notify-send dep",
    "tooltip": true,
    "interval": "once",
    "max-length": 40
  },
  "sway/language": {
    "format": " {}",
    "on-click": "swaymsg input type:keyboard xkb_switch_layout next",
    "tooltip-format": "{long}"
  },
  "mpris": {
    "format": "{player_icon} {status_icon}",
    "format-paused": "{player_icon} {status_icon}",
    "player-icons": {
      "default": "-",
      "mpv": "🎵",
      "spotify": ""
    },
    "status-icons": {
      "paused": "",
      "playing": "⏸",
      "stopped": "x"
    }
  }
}
// vi: ft=jsonc
